<footer class="page-footer deep-orange darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Info, Bio, or Background</h5>
        <p class="grey-text text-lighten-4">This is where people look for additional information, location, etc. This is also a good place to add a descriptive text. What need does your company or service fill?</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Articles/News</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Created by JB and <a class="grey-text text-lighten-3" href="">brnzpub.com</a>
    </div>
  </div>
</footer>
